.btn-primary {
   background-color: #ff8f27;
   border-color: #ff8f27;
}
.btn-primary.disabled, .btn-primary:disabled {
   background-color: #ff8f27;
   border-color: #ff8f27;
}
.btn-outline-primary {
   color: #ff8f27;
   border-color: #ff8f27;
}
.btn-outline-primary:hover {
   background-color: #ff8f27;
   border-color: #ff8f27;
}
.btn-outline-primary.disabled, .btn-outline-primary:disabled {
   color: #ff8f27;
}
.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
   background-color: #ff8f27;
   border-color: #ff8f27;
}
.btn-link:hover {
   color: #ff8f27;
}
.dropdown-item.active, .dropdown-item:active {
   background-color: #ff8f27;
}
.custom-control-input:checked ~ .custom-control-label::before {
   background-color: #ff8f27;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
   background-color: #ff8f27;
}
.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
   background-color: #ff8f27;
}
.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
   background-color: #ff8f27;
}
.nav-pills .nav-link.active,
 .nav-pills .show > .nav-link {
   background-color: #ff8f27;
}
.page-link:hover {
   color: #ff8f27;
}
.page-item.active .page-link {
   color: #fff;
   background-color: #ff8f27;
   border-color: #ff8f27;
}
.badge-primary {
   color: #212529;
   background-color: #ff8f27;
}
.progress-bar {
   background-color: #ff8f27;
}
.list-group-item.active {
   color: #fff;
   background-color: #ff8f27;
   border-color: #ff8f27;
}
.bg-primary {
   background-color: #ff8f27 !important;
}
.border-primary {
   border-color: #ff8f27 !important;
 }

 a:hover {
   color: #ff8f27;
}
ul.feature-list > li:after, ul.list-style-1 > li:after {
   color: #ff8f27;
}
ul.list-style-2 > li {
   color: #ff8f27;
}
.pager .paginations a:hover {
   color: #ff8f27;
   border-color: #ff8f27;
}
.pager .paginations a.active {
   background: #ff8f27;
   border-color: #ff8f27;
   color: #fff;
}
.bg-theme {
   background: #ff8f27 !important;
}
.bg-theme-2 {
   background: #ff8f27 !important;
}
.text-theme {
   color: #ff8f27 !important;
}
.hover-color-theme a:hover {
   color: #ff8f27 !important;
}
.btn-theme, .btn, .btn-white, .btn-theme-2, .btn-black, input[type*="submit"]:not(.fa):not(.btn-theme), #tribe-events .tribe-events-button, .tribe-events-button {
   background: #ff8f27;
   color: #fff;
}
.btn-inline {
   color: #ff8f27;
}
.alert .alert_icon {
   color: #ff8f27;
}
.socials a i {
   color: #fff;
   background: #ff8f27;
}
.socials-2 li a i:hover {
   color: #ff8f27;
}
.page-links > a:hover, .page-links > span:not(.page-links-title):hover {
   border-color: #ff8f27;
}
.page-links > span:not(.page-links-title) {
   border: 1px solid #ff8f27;
}
.page-links .post-page-numbers:hover {
   border-color: #ff8f27;
}
.page-links span.post-page-numbers {
   border-color: #ff8f27;
}
.lockquote {
   border-left: 2px solid #ff8f27 !important;
   color: #151515;
}
.lockquote:before {
   color: #ff8f27;
}
.wp-block-pullquote.is-style-solid-color {
   background: #F7F7F7;
   border-left: 2px solid #ff8f27 !important;
}
.return-top {
   background-color: #ff8f27;
   color: #fff;
}
.return-top:hover {
   color: #ff8f27;
   border-color: #ff8f27;
}
.header-mobile .topbar-mobile .topbar-left .topbar-information i {
   color: #ff8f27;
}
.header-mobile .header-mobile-content .mini-cart-header a.mini-cart .mini-cart-items {
   background: #ff8f27;
   color: #fff;
}
ul.gva-nav-menu > li > a:before {
   background: #ff8f27;
}
ul.gva-nav-menu > li:hover > a, ul.gva-nav-menu > li:active > a, ul.gva-nav-menu > li:focus > a, ul.gva-nav-menu > li.current_page_parent > a {
   color: #ff8f27;
}
ul.gva-nav-menu > li .submenu-inner li a:hover, ul.gva-nav-menu > li .submenu-inner li a:focus, ul.gva-nav-menu > li .submenu-inner li a:active, ul.gva-nav-menu > li ul.submenu-inner li a:hover, ul.gva-nav-menu > li ul.submenu-inner li a:focus, ul.gva-nav-menu > li ul.submenu-inner li a:active {
   color: #ff8f27;
}
.gavias-off-canvas-toggle {
   background: #ff8f27;
   color: #fff;
}
.gavias-off-canvas .off-canvas-top .top-social > a:hover {
   background: #ff8f27;
   color: #fff;
   border-color: #ff8f27;
}
.gavias-off-canvas .off-canvas-top .gavias-off-canvas-close:hover {
   background: #ff8f27;
   color: #fff;
}
.gavias-off-canvas ul#menu-main-menu > li > a.active > a {
   color: #ff8f27;
}
.gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li a:hover, #gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li a:focus {
   color: #ff8f27;
}
.gavias-off-canvas ul#menu-main-menu > li .submenu-inner.dropdown-menu li.active > a {
   color: #ff8f27;
}
.gva-offcanvas-content a:hover {
   color: #ff8f27;
}
.gva-offcanvas-content .close-canvas a:hover {
   color: #ff8f27;
}
.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li a:hover {
   color: #ff8f27;
}
.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li.menu-item-has-children .caret:hover {
   color: #ff8f27;
}
.gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li ul.submenu-inner li a:hover, .gva-offcanvas-content #gva-mobile-menu ul.gva-mobile-menu > li div.submenu-inner li a:hover {
   color: #ff8f27;
}
.megamenu-main .widget.widget-html ul li strong {
   color: #ff8f27;
}
.col-bg-bottom-theme:after {
   background: #ff8f27;
}
.bg-row-theme {
   background: #ff8f27;
}
.col-bg-theme-inner > .elementor-column-wrap > .elementor-widget-wrap {
   background: #ff8f27;
}
.col-bg-theme > .elementor-column-wrap {
   background-color: #ff8f27 !important;
}
.gsc-team .team-position {
   color: #ff8f27;
}
.gsc-team.team-horizontal .team-header .social-list a:hover {
   color: #ff8f27 !important;
}
.gsc-team.team-horizontal .team-name:after {
   background: #ff8f27;
}
.gsc-team.team-vertical .team-body .info {
   background: #ff8f27;
}
.post-small .post .cat-links a {
   color: #ff8f27;
}
.elementor-widget-wp-widget-recent-posts .post-date:before {
   color: #ff8f27;
}
.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tabs .elementor-tab-title, .elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tabs .elementor-tab-mobile-title {
   border-top: 2px solid #ff8f27;
}
.elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tabs .elementor-tab-title.elementor-active, .elementor-widget-tabs.elementor-tabs-view-horizontal .elementor-tabs .elementor-tab-mobile-title.elementor-active {
   background: #ff8f27;
   color: #fff;
   border-top: 2px solid #ff8f27;
}
.elementor-widget-wp-widget-nav_menu ul.menu > li.current-menu-item > a {
   background: #ff8f27;
   color: #fff;
}
.elementor-widget-wp-widget-nav_menu ul.menu > li > a:hover, .elementor-widget-wp-widget-nav_menu ul.menu > li > a:focus {
   background: #ff8f27;
   color: #fff;
}
.elementor-widget-icon-box.icon-color-theme .elementor-icon, .elementor-widget-icon-box.icon-color-theme .elementor-icon-list-icon, .elementor-widget-icon-list.icon-color-theme .elementor-icon, .elementor-widget-icon-list.icon-color-theme .elementor-icon-list-icon {
   color: #ff8f27;
}
.elementor-widget-icon-box.hover-color-theme a:hover, .elementor-widget-icon-list.hover-color-theme a:hover {
   color: #ff8f27 !important;
}
.gsc-career .box-content .job-type {
   color: #fff;
   background: #ff8f27;
}
.gva-hover-box-carousel .hover-box-item .box-content .box-icon {
   background: #ff8f27;
   color: #fff;
}
.gsc-countdown {
   background: #ff8f27;
}
.gsc-icon-box-group.style-1 .icon-box-item-content .icon-box-item-inner .box-icon i {
   color: #ff8f27;
}
.gsc-icon-box-group.style-1 .icon-box-item-content .icon-box-item-inner .box-icon svg {
   fill: #ff8f27;
}
.gsc-icon-box-styles.style-1 .icon-box-inner .box-icon {
   background: #ff8f27;
}
.gsc-icon-box-styles.style-2 .box-icon {
   background: #ff8f27;
}
.milestone-block.style-2 .box-content .milestone-icon .icon {
   color: #ff8f27;
}
.milestone-block.style-2 .box-content .milestone-icon .icon svg {
   fill: #ff8f27;
}
.gsc-heading .heading-video .video-link {
   color: #fff;
   background: #ff8f27;
}
.gsc-heading .title .highlight, .gsc-heading .title strong {
   color: #ff8f27;
}
.gsc-heading .sub-title > span:after {
   background: #ff8f27;
}
.gsc-image-content.skin-v1 .content-box {
   background: #ff8f27;
   color: #fff;
}
.gsc-image-content.skin-v1 .content-box:before {
   border-bottom: 20px solid #ff8f27;
}
.gsc-image-content.skin-v2 {
   background: #ff8f27;
}
.gsc-image-content.skin-v2:before {
   border-top: 60px solid #ff8f27;
}
@media (max-width: 575.98px) {
   .gsc-image-content.skin-v2:before {
     border-top: 30px solid #ff8f27;
  }
}
.gsc-image-content.skin-v4 .box-content .read-more svg {
   fill: #ff8f27;
}
.gva-posts-grid .posts-grid-filter ul.nav-tabs > li > a.active {
   color: #ff8f27;
}
.gva-testimonial .testimonial-name {
   color: #ff8f27;
}
.gva-testimonial .testimonial-image {
   border: 2px solid #ff8f27;
}
.gva-testimonial.style-1 .testimonial-item:before {
   color: #fff;
   background: #ff8f27;
}
.gsc-video-box.style-1 .video-action {
   background: #ff8f27;
}
.gsc-video-box.style-2 .video-inner .video-action .popup-video {
   background: #ff8f27;
   color: #fff;
}
.gva-video-carousel .video-item-inner .video-link {
   background: #ff8f27;
}
.gsc-pricing.style-1 .content-inner .plan-price .price-value {
   color: #ff8f27;
}
.gsc-pricing.style-1 .content-inner .plan-price .interval {
   color: #ff8f27;
}
.gsc-pricing.style-1 .content-inner .plan-list li .icon {
   color: #ff8f27;
}
.gsc-pricing.style-2 .content-inner .price-meta .plan-price .price-value {
   color: #ff8f27;
}
.gsc-pricing.style-2 .content-inner .price-meta .plan-price .interval {
   color: #ff8f27;
}
.gsc-tabs-content .nav_tabs > li a:before {
   background: #ff8f27;
}
.gsc-tabs-content .tab-content .tab-pane .tab-content-item ul > li:after {
   color: #ff8f27;
}
.gva-locations-map .makers .location-item .maker-item-inner .right .location-title:hover {
   color: #ff8f27;
}
.gva-locations-map .makers .location-item .maker-item-inner:hover .location-title, .gva-locations-map .makers .location-item .maker-item-inner.active .location-title {
   color: #ff8f27;
}
.gva-locations-map .makers .location-item .maker-item-inner:hover .icon, .gva-locations-map .makers .location-item .maker-item-inner.active .icon {
   color: #ff8f27;
}
.gsc-work-process .box-content .number-text {
   background: #ff8f27;
   color: #fff;
}
.service-item.style-1 .service-icon {
   background: #ff8f27;
   color: #fff;
}
.service-item.style-1 .read-more a:hover {
   border-color: #ff8f27;
   color: #ff8f27;
}
.service-item.style-1:hover .service-content {
   border-bottom: 2px solid #ff8f27;
}
.service-item.style-1:hover .read-more a {
   border-color: #ff8f27;
   color: #ff8f27;
}
.active.center .service-item.style-1 .service-content {
   border-bottom: 2px solid #ff8f27;
}
.active.center .service-item.style-1 .read-more a {
   border-color: #ff8f27;
   color: #ff8f27;
}
.widget .widget-title:after, .widget .widgettitle:after, .widget .wpb_singleimage_heading:after, .wpb_single_image .widget-title:after, .wpb_single_image .widgettitle:after, .wpb_single_image .wpb_singleimage_heading:after, .wpb_content_element .widget-title:after, .wpb_content_element .widgettitle:after, .wpb_content_element .wpb_singleimage_heading:after {
   background: #ff8f27;
}
.color-theme .widget-title, .color-theme .widgettitle {
   color: #ff8f27 !important;
}
.wp-sidebar ul li a:hover, .elementor-widget-sidebar ul li a:hover {
   color: #ff8f27;
}
.wp-sidebar .post-author, .wp-sidebar .post-date, .elementor-widget-sidebar .post-author, .elementor-widget-sidebar .post-date {
   color: #ff8f27;
}
.gva-main-search .gva-search input.input-search {
   background: #ff8f27;
   color: #fff;
}
.wp-footer .footer-widgets .widget_categories a:hover, #wp-footer .footer-widgets .widget_archive a:hover, #wp-footer .footer-widgets .wp-sidebar .widget_nav_menu a:hover, #wp-footer .footer-widgets #wp-footer .widget_nav_menu a:hover, #wp-footer .footer-widgets .elementor-widget-sidebar .widget_nav_menu a:hover, #wp-footer .footer-widgets .widget_pages a:hover, #wp-footer .footer-widgets .widget_meta a:hover {
   color: #ff8f27 !important;
}
.wp-footer .footer-widgets .widget_tag_cloud .tagcloud > a:hover {
   border-color: #ff8f27;
   color: #fff;
}
.widget_calendar .wp-calendar-table td a {
   color: #ff8f27;
}
.widget_calendar .wp-calendar-table #today {
   color: #ff8f27;
}
.widget_calendar .wp-calendar-table #today:after {
   background: #ff8f27;
}
.widget_tag_cloud .tagcloud > a:hover {
   background: #ff8f27;
   color: #fff;
}
.widget_categories ul > li > a:hover, .widget_archive ul > li > a:hover, .wp-sidebar .widget_nav_menu ul > li > a:hover, #wp-footer .widget_nav_menu ul > li > a:hover, .elementor-widget-sidebar .widget_nav_menu ul > li > a:hover, .widget_pages ul > li > a:hover, .widget_meta ul > li > a:hover {
   color: #ff8f27;
}
.widget_rss ul > li a .post-date, .widget_recent_entries ul > li a .post-date, .gva_widget_recent_entries ul > li a .post-date {
   color: #ff8f27;
}
.widget_rss > ul li .rss-date {
   color: #ff8f27;
}
.support-box .phone a {
   color: #ff8f27;
}
.post:not(.post-single-content) .post-thumbnail .entry-date {
   background: #ff8f27;
   color: #fff;
}
.post:not(.post-single-content) .entry-content .content-inner .entry-meta i {
   color: #ff8f27;
}
.post:not(.post-single-content) .tag-links > a:hover {
   background: #ff8f27;
   color: #fff;
}
.post:not(.post-single-content):hover .entry-content {
   border-bottom-color: #ff8f27;
}
.post:not(.post-single-content):hover .entry-content .content-inner .entry-title:after {
   background: #ff8f27;
}
.post .post-style-2 .entry-content .entry-meta .right i {
   color: #ff8f27;
}
.post .post-style-2 .entry-content .read-more svg {
   fill: #ff8f27;
}
.post .post-style-2:hover .entry-content .entry-meta .left {
   border-color: #ff8f27;
}
.post-block-small .post-content .post-date {
   color: #ff8f27;
}
.post.post-single-content .post-thumbnail .entry-date {
   background: #ff8f27;
   color: #fff;
}
.post.post-single-content .entry-content .entry-meta .meta-inline > span i {
   color: #ff8f27;
}
.post.post-single-content .entry-content .entry-meta .meta-inline .entry-date {
   color: #ff8f27;
}
.post.post-single-content .entry-content .cat-links i {
   color: #ff8f27;
}
.post.post-single-content .entry-content .cat-links a:hover {
   color: #ff8f27;
}
.post.post-single-content .entry-content .post-content input[type="submit"] {
   background: #ff8f27;
   color: #fff;
}
.post.post-single-content .tag-links > a:hover {
   background: #ff8f27;
   color: #fff;
}
.post-nav-links span:hover, .post-nav-links a:hover {
   color: #ff8f27;
   border-color: #ff8f27;
}
.post-nav-links span.active, .post-nav-links span.current, .post-nav-links a.active, .post-nav-links a.current {
   background: #ff8f27;
   border-color: #ff8f27;
   color: #fff;
}
.social-networks-post > li:not(.title-share) a:hover {
   background: #ff8f27;
   color: #fff;
   border-color: #ff8f27;
}
.post-navigation a:hover {
   background: #ff8f27;
   color: #fff;
}
.tribe-event-list-block .tribe-event-left .content-inner .tribe-start-date {
   background: #ff8f27;
   color: #fff;
}
.tribe-event-list-block .tribe-event-right .content-inner .tribe-events-event-meta .icon {
   color: #ff8f27;
}
.tribe-events .tribe-events-c-ical__link {
   border-color: #ff8f27;
   color: #ff8f27;
}
.tribe-events .tribe-events-c-ical__link:hover, .tribe-events .tribe-events-c-ical__link:active, .tribe-events .tribe-events-c-ical__link:focus {
   background-color: #ff8f27;
}
.tribe-common .tribe-common-c-btn, .tribe-common a.tribe-common-c-btn {
   background: #ff8f27;
}
.tribe-common .tribe-common-c-btn:hover, .tribe-common .tribe-common-c-btn:active, .tribe-common .tribe-common-c-btn:focus, .tribe-common a.tribe-common-c-btn:hover, .tribe-common a.tribe-common-c-btn:active, .tribe-common a.tribe-common-c-btn:focus {
   background: #ff8f27;
}
.tribe-events-single .tribe-events-schedule .icon {
   color: #ff8f27;
}
.tribe-events-single .tribe-events-event-meta .tribe-event-single-detail .tribe-event-single-meta-detail > div .icon {
   color: #ff8f27;
}
.tribe-events-single .tribe-events-event-meta .tribe-event-meta-bottom .event-single-organizer > .content-inner .meta-item .icon svg {
   fill: #ff8f27;
}
.tribe-events-single .tribe-events-event-meta .tribe-event-meta-bottom .event-single-venue > .content-inner {
   background: #ff8f27;
   color: #fff;
}
.tribe-events-single .tribe-events-event-meta .tribe-event-meta-bottom .event-single-venue > .content-inner:after {
   background: #ff8f27;
}
.post-type-archive-tribe_events table.tribe-events-calendar tbody td .tribe-events-tooltip .tribe-events-event-body .tribe-event-duration {
   color: #ff8f27;
}
.post-type-archive-tribe_events table.tribe-events-calendar tbody td:hover {
   border-bottom: 2px solid #ff8f27 !important;
}
.portfolio-filter ul.nav-tabs > li > a:after {
   background: #ff8f27;
}
.portfolio-v1 .images .link:hover {
   background: #ff8f27;
   color: #fff;
}
.portfolio-v1 .portfolio-content .content-inner .portfolio-meta:after {
   background: #ff8f27;
}
.portfolio-v1:hover .portfolio-content .content-inner, .portfolio-v1:active .portfolio-content .content-inner, .portfolio-v1:focus .portfolio-content .content-inner {
   background: #ff8f27;
   border-color: #ff8f27;
}
.portfolio-v2 .images a.link-image-content:after {
   background: #ff8f27;
}
.portfolio-v2 .images .link:hover {
   color: #ff8f27;
}
.team-progress-wrapper .team__progress .team__progress-bar {
   background: #ff8f27;
}
.team-block.team-v1:hover {
   border-color: #ff8f27;
}
.team-block.team-v1 .socials-team .gva-social:hover, .team-block.team-v1 .socials-team .gva-social:focus, .team-block.team-v1 .socials-team .gva-social:active {
   background: #ff8f27;
}
.team-block.team-v2 .team-image .socials-team a {
   background: #ff8f27;
}
.team-block-single .heading:after, .team-block-single .heading-contact:after {
   background: #ff8f27;
}
.team-block-single .team-quote:after {
   color: #ff8f27;
}
.team-block-single .socials-team a:hover {
   background: #ff8f27;
   border-color: #ff8f27;
}
.pagination .disabled {
   background: #ff8f27;
}
.pagination .current {
   background: #ff8f27;
}
.not-found-wrapper .not-found-home > a {
   background: #ff8f27;
}
.not-found-wrapper .not-found-home > a:hover, .not-found-wrapper .not-found-home > a:active, .not-found-wrapper .not-found-home > a:after {
   background: #ff8f27;
}
.content-page-index .post-masonry-index .post.sticky .entry-content:after {
   color: #ff8f27;
}
.newsletter-form input[type="email"] {
   border-bottom: 4px solid #ff8f27;
}
.newsletter-form .form-action:hover {
   background: #ff8f27;
}
.comments .comments-title:after {
   background: #ff8f27;
}
.comments #add_review_button,
 #comments #submit {
   background: #ff8f27;
   color: #fff;
}
.comments #reply-title {
   color: #ff8f27;
}
.comments ol.comment-list .the-comment .comment-info:after {
   background: #ff8f27;
}
.comments ol.comment-list .the-comment .comment-info a:hover {
   color: #ff8f27;
}
.comments ol.comment-list .the-comment .comment-action-wrap a {
   color: #ff8f27;
}
.pingbacklist > li .the-comment .comment-info:after {
   background: #ff8f27;
}
.pingbacklist > li .the-comment .comment-info a:hover {
   color: #ff8f27;
}
.pingbacklist > li .the-comment .comment-action-wrap a {
   color: #ff8f27;
}
.cld-like-dislike-wrap .cld-like-wrap {
   color: #ff8f27;
}
.cld-like-dislike-wrap .cld-like-wrap a {
   color: #ff8f27;
}
.custom-breadcrumb .breadcrumb {
   color: #ff8f27;
}
.owl-carousel .owl-dots .owl-dot.active, .flex-control-nav .owl-dots .owl-dot.active, .ctf-tweets .owl-dots .owl-dot.active {
   background: #ff8f27;
}
ul.nav-tabs > li > a:hover, ul.nav-tabs > li > a:focus, ul.nav-tabs > li > a:active {
   color: #ff8f27;
}
ul.nav-tabs > li.active > a {
   background: #ff8f27 !important;
}
.btn-slider-white {
   color: #ff8f27;
}
.btn-slider-white:hover, .btn-slider-white:focus, .btn-slider-white:active {
   background: #ff8f27;
}
.tweet-1 .ctf-type-usertimeline {
   background: #ff8f27;
}
.tweet-1 .ctf-type-usertimeline .ctf-tweets .ctf-item svg:hover, .tweet-1 .ctf-type-usertimeline .ctf-tweets .ctf-item i:hover {
   color: #ff8f27;
}
.tweet-2 .ctf-type-usertimeline .ctf-item .ctf-tweet-text a {
   color: #ff8f27;
}
.tweet-2 .ctf-type-usertimeline .ctf-item .ctf-tweet-text a:hover, .tweet-2 .ctf-type-usertimeline .ctf-item .ctf-tweet-text a:focus {
   color: #ff8f27;
}
.tweet-2 .ctf-type-usertimeline .ctf-item .ctf-author-box .ctf-author-box-link .ctf-author-screenname {
   color: #ff8f27 !important;
}
.select2-container .select2-dropdown ul.select2-results__options li.select2-results__option--highlighted {
   color: #ff8f27;
}
.select2-container .select2-dropdown ul.select2-results__options li[aria-selected="true"] {
   color: #ff8f27;
}
.select2-container .select2-selection .select2-selection__rendered .select2-selection__clear {
   background: #ff8f27;
}
.select2-selection.select2-selection--multiple .select2-selection__rendered li.select2-selection__choice .select2-selection__choice__remove {
   background: #ff8f27;
}
.woocommerce-tab-product-info .submit {
   background: #ff8f27;
}
.minibasket.light i {
   color: #ff8f27;
}
.able.variations a.reset_variations {
   color: #ff8f27 !important;
   display: none;
}
.single-product .social-networks > li a:hover {
   color: #ff8f27;
}
.single-product .image_frame .woocommerce-product-gallery__trigger:hover {
   background: #ff8f27;
}
.single-product .image_frame .onsale {
   background: #ff8f27;
}
.single-product ol.flex-control-nav.flex-control-thumbs .owl-item img.flex-active {
   border: 1px solid #ff8f27;
}
.single-product .product-single-main.product-type-grouped table.group_table tr td.label a:hover, .single-product .product-single-main.product-type-grouped table.group_table tr td label a:hover {
   color: #ff8f27;
}
.single-product .entry-summary .woocommerce-product-rating .woocommerce-review-link:hover {
   color: #ff8f27;
}
.single-product .entry-summary .price {
   color: #ff8f27;
}
.single-product .product-single-inner .cart .button:hover, .single-product .product-single-inner .add-cart .button:hover {
   background: #ff8f27;
}
.single-product .product-single-inner .yith-wcwl-add-to-wishlist a {
   background: #ff8f27;
}
.single-product .product-single-inner .yith-wcwl-add-to-wishlist a:hover {
   background: #ff8f27;
}
.single-product .product-single-inner a.compare {
   background: #ff8f27;
}
.single-product .product-single-inner a.compare:hover {
   background: #ff8f27;
}
.single-product .product-single-inner form.cart .table-product-group td.label a:hover {
   color: #ff8f27;
}
.single-product .product-single-inner form.cart .add-cart button {
   background: #ff8f27;
}
.single-product .product-single-inner form.cart .add-cart button:hover {
   background: #ff8f27;
}
.single-product .product_meta > span a:hover {
   color: #ff8f27;
}
.woocommerce-account .woocommerce-MyAccount-navigation ul > li.is-active a {
   color: #ff8f27;
}
.woocommerce #breadcrumb a:hover {
   color: #ff8f27;
}
.woocommerce-page .content-page-inner input.button, .woocommerce-page .content-page-inner a.button {
   background: #ff8f27;
}
.woocommerce-page .content-page-inner input.button:hover, .woocommerce-page .content-page-inner a.button:hover {
   background: #ff8f27;
}
.woocommerce-cart-form__contents .woocommerce-cart-form__cart-item td.product-remove a.remove {
   background: #ff8f27;
}
.shop-loop-actions .quickview a:hover, .shop-loop-actions .yith-wcwl-add-to-wishlist a:hover, .shop-loop-actions .yith-compare a:hover, .shop-loop-actions .add-to-cart a:hover {
   background: #ff8f27;
}
.shop-loop-price .price {
   color: #ff8f27;
}
.gva-countdown .countdown-times > div.day {
   color: #ff8f27;
}
.product_list_widget.cart_list .widget-product .name a:hover {
   color: #ff8f27 !important;
}
.product_list_widget.cart_list .widget-product .remove {
   background: #ff8f27;
}
.woo-display-mode > a:hover, .woo-display-mode > a:active, .woo-display-mode > a:focus, .woo-display-mode > a.active {
   background: #ff8f27;
}
.filter-sidebar .filter-sidebar-inner.layout-offcavas .filter-close {
   background: #ff8f27;
}
.woocommerce .button[type*="submit"] {
   background: #ff8f27;
   color: #fff;
}
.woocommerce .button[type*="submit"]:hover {
   background: #ff8f27;
}
.widget.widget_layered_nav ul > li a:hover {
   color: #ff8f27;
}
.widget.widget_product_categories li.current-cat > a {
   color: #ff8f27 !important;
}
.widget.widget_product_categories ul.product-categories > li.has-sub .cat-caret:hover {
   color: #ff8f27;
}
.widget.widget_product_categories ul.product-categories > li ul a:hover {
   color: #ff8f27;
}